/** reset **/
* {
	margin: 0; padding: 0;
/*	outline: 1px solid red;*/
}

/** color scheme from Dante picture:

background: #DAD4C9;
highlights: #A60830;
accent 1: #D7473D;
accent 2: #A67E47;
accent 3: #2A3D1E;

**/

body {
	font: 15px Palatino, "Palatino Linotype", "Book Antiqua", serif;
	line-height: 140%;
	color: #333;
	background: #DAD4C9;
	max-width: 800px;
	margin: 0 auto;
}

p {	
	margin: 1.25em 1.25em 1.25em 5em;
	width: 80%;
}

a {
	color: #A60830;
	text-decoration: none;
}

a:hover {
	color: #D7473D;
}

a:visited {
	color: #A67E47;
}


/** header adjustments **/

header {
	text-align: center;
	padding: 3em 0 1em 0;
}

h1, h2, h3 {
	color: #2A3D1E;
}

h1 {
	font-variant: small-caps;
	letter-spacing: .25em;
	padding: 1em .25em 1em 0;
}

nav	li {
	display: inline;
	border: solid #2A3D1E;
	border-width:  0 1px;
	border-radius: 1em .5em 1em .5em;
	padding: 1px 5px;
}

h2 {
	margin: 1em 0 .5em 1em;
}



blockquote {
	display: block;
	margin: 0 auto;
	width: 40%;
	border: solid #2A3D1E;
	border-width:  0 1px;
	border-radius: 2em 1em 2em 1em;
	padding: 15px;
}

/**
marginalia image courtesy of https://commons.wikimedia.org/wiki/File:Boucicaut_Master_Illuminator_(French,_active_about_1390_-_1430)_-_Boccaccio's_Vision_of_the_Laurel-Crowned_Petrarch_-_Google_Art_Project.jpg
**/

figure {
	margin: 1em 0;
	background-image: url("marginalia.jpg");
}

img, figcaption, iframe {
	display: block;
	margin: 0 auto;
	width: auto;
	text-align: center;
}

figcaption {
	background-color: #DAD4C9;
}

.italian {
	font-style: italic;
	font-weight: bold;
}

.verse {
	max-width: 600px;
}

table {
	margin: 1.25em auto;
	width: 90%;
}

th {
	color: #322E16;
	border-bottom: 1px #A67E47 dashed;
}

td {
	border-top: 1px #A67E47 dashed;
	padding: 10px;
}

aside {
	display: block;
	max-width: 380px; 
	border: 1px #A67E47 dashed;
	margin: 10px 0px 10px 400px;
	padding: 10px;
}

footer {
	font-size: 85%;
	text-align: center;
	margin: 0 25%;
}